:root {
    --white: #F4F4F2;
    --highlight: #9748A1;
    --blue-gray: #202933;
    --black: #13181E;
}

* {
    margin: 0;
    padding: 0;
}

p, span {
    font-family: 'Karla', sans-serif;
}

h1, h2, button, a {
    font-family: 'Roboto', sans-serif;
}

#container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    bottom: 0;
    left: 0;
    
    background-color: var(--blue-gray);
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    background-position: bottom;
}

main {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto 0 auto;
    width: 18rem;
    max-width: 90%;
}

.avatar {
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 0 auto 0 auto;
    
    border-radius: 12rem;
    outline: 4px solid var(--black);
    outline-offset: 4px;
}

.title {
    display: block;
    margin: 1rem auto 0 auto;
    color: var(--white);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.title::before {
    color: var(--black);
    font-weight: 700;
    content: '<';
}

.title::after {
    color: var(--black);
    font-weight: 700;
    content: '/>';
}

main nav {
    margin-top: 3rem;
}

ul li {
    list-style: none;
    height: 42px;
    width: 100%;
    background: var(--blue-gray);
    border-radius: 8px 12px 8px 12px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

    transition: margin-left ease-in 0.15s;
}

ul li:hover {
    margin-left: 0.25rem;
}

ul li + li {
    margin-top: 1.5rem;
}

ul li:hover {
    margin-left: 0.25rem;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    max-width: 100%;
    padding: 0 1rem;

    font-weight: 500;
    font-size: 1.1rem;  
    color: var(--white);
    text-decoration: none;
}

.nav-link img.btn-arrow {
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s, opacity 0.3s;
}

.nav-link img.btn-arrow.visible {
    visibility: visible;
    opacity: 1;
}

.glass-card {
    display: block;
    width: 100%;
    height: 4rem;
    position: relative;
    background-color: rgba(255,255,255, 0.1);

    
    border: 1px solid red;


    overflow: hidden;
    
}
